div {
    display: inline-block;
}
.gr1 {
    background: radial-gradient(circle, rgb(207, 242, 253), rgb(3, 173, 224));
    border: 1px solid black;
    width: 250px;
    height: 250px;
}
.gr2 {
    background: radial-gradient(ellipse, rgb(209, 244, 255), rgb(3, 173, 224));
    border: 1px solid black;
    width: 400px;
    height: 250px;
}
.gr3 {
    background: radial-gradient(circle closest-corner at 40px 40px, rgb(209, 244, 255), rgb(3, 173, 224));
    border: 1px solid black;
    width: 400px;
    height: 250px;
}
.gr4 {
    background: radial-gradient(60px 60px, black 10px, white 20px 40px, green 50px);
    border: 1px solid black;
    width: 400px;
    height: 250px;
}