button {
    display: inline-block;
    background-color: rgb(196, 196, 196);
    padding: 0.5em 2em;
    border-color: rgb(211, 211, 211);
    border-radius: 15px;
    box-shadow:0.7em 0.7em 0.3em rgb(211, 211, 211);
}
a:link, a:visited {
    text-decoration: none;
    color: black;
}
.button1 {font-size: 15px;}
.button2 {font-size: 20px;}
.button3 {font-size: 25px;}